---
import Layout from '../layouts/Layout.astro';
import Header from "../components/header-content/Header.astro";
import Footer from "../components/footer-content/Footer.astro";

const lang = Astro.url?.searchParams.get('lang') || 'es';
import { t } from '../utils/i18n.js';
const translate = (key: string) => t(key, lang);
---

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const ongSlider = document.querySelector('.ong-testimonials') as HTMLElement;
        let isDragging = false;
        let startX: number;
        let scrollLeft: number;

        ongSlider.addEventListener('mousedown', (e: MouseEvent) => {
            isDragging = true;
            startX = e.pageX - ongSlider.offsetLeft;
            scrollLeft = ongSlider.scrollLeft;
            ongSlider.classList.add('active');
        });

        ongSlider.addEventListener('mouseleave', () => {
            isDragging = false;
            ongSlider.classList.remove('active');
        });

        ongSlider.addEventListener('mouseup', () => {
            isDragging = false;
            ongSlider.classList.remove('active');
        });

        // Evento para el movimiento del mouse
        ongSlider.addEventListener('mousemove', (e: MouseEvent) => {
            if (!isDragging) return;
            e.preventDefault();
            const x = e.pageX - ongSlider.offsetLeft;
            const scroll = (x - startX) * 1.5;
            ongSlider.scrollLeft = scrollLeft - scroll;
        });

        // Eventos para soporte táctil
        ongSlider.addEventListener('touchstart', (e: TouchEvent) => {
            isDragging = true;
            startX = e.touches[0].pageX - ongSlider.offsetLeft;
            scrollLeft = ongSlider.scrollLeft;
            ongSlider.classList.add('active');
        });

        ongSlider.addEventListener('touchend', () => {
            isDragging = false;
            ongSlider.classList.remove('active');
        });

        ongSlider.addEventListener('touchmove', (e: TouchEvent) => {
            if (!isDragging) return;
            const x = e.touches[0].pageX - ongSlider.offsetLeft;
            const scroll = (x - startX) * 1.5;
            ongSlider.scrollLeft = scrollLeft - scroll;
        });
    });

</script>
<script>
document.querySelectorAll('.tab').forEach(tab=>{
  tab.addEventListener('click',()=>{
    document.querySelectorAll('.tab').forEach(t=>t.classList.remove('active'))
    tab.classList.add('active')
  })
})
</script>

<script>
const tabs = document.querySelectorAll<HTMLElement>('.tab');
tabs.forEach((tab: HTMLElement) => {
  tab.addEventListener('click', () => {
    tabs.forEach(t => t.classList.remove('active'));
    tab.classList.add('active');
    const targetId = tab.dataset.target!;
    document.querySelectorAll<HTMLElement>('.tab-content').forEach(c => c.classList.remove('active'));
    document.getElementById(targetId)!.classList.add('active');
  });
});

let currentSlide = 0;
const slides = document.querySelectorAll<HTMLElement>('.slider .slide');
const prevBtn = document.querySelector<HTMLButtonElement>('.slider-prev')!;
const nextBtn = document.querySelector<HTMLButtonElement>('.slider-next')!;

const showSlide = (index: number) => {
  slides.forEach(s => s.classList.remove('active-slide'));
  slides[index].classList.add('active-slide');
};

prevBtn.addEventListener('click', () => {
  currentSlide = (currentSlide - 1 + slides.length) % slides.length;
  showSlide(currentSlide);
});

nextBtn.addEventListener('click', () => {
  currentSlide = (currentSlide + 1) % slides.length;
  showSlide(currentSlide);
});

</script>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const slides = document.querySelectorAll('.slide');
        const nextButton = document.querySelector('.slider-next') as HTMLElement | null;
        const prevButton = document.querySelector('.slider-prev') as HTMLElement | null;
        let currentSlide = 0;

        const updateSlide = () => {
            slides.forEach((slide) => {
                const slideElement = slide as HTMLElement;
                slideElement.style.display = 'none';
            });

            const currentSlideElement = slides[currentSlide] as HTMLElement;
            currentSlideElement.style.display = 'flex';
        };

        if (nextButton && prevButton) {
            nextButton.addEventListener('click', () => {
                currentSlide = (currentSlide + 1) % slides.length;
                updateSlide();
            });

            prevButton.addEventListener('click', () => {
                currentSlide = (currentSlide - 1 + slides.length) % slides.length;
                updateSlide();
            });
        } else {
            console.error('Botones de navegación no encontrados.');
        }

        updateSlide();
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const initializeSlider = (selector: string, controls = false) => {
            const slider = document.querySelector(selector) as HTMLElement;
            if (!slider) return;

            let isDragging = false, startX = 0, scrollLeft = 0;

            const startDrag = (e: MouseEvent | TouchEvent) => {
                isDragging = true;
                startX = (e instanceof TouchEvent ? e.touches[0].pageX : e.pageX) - slider.offsetLeft;
                scrollLeft = slider.scrollLeft;
                slider.classList.add('active');
            };

            const stopDrag = () => {
                isDragging = false;
                slider.classList.remove('active');
            };

            const dragMove = (e: MouseEvent | TouchEvent) => {
                if (!isDragging) return;
                e.preventDefault();
                const x = (e instanceof TouchEvent ? e.touches[0].pageX : e.pageX) - slider.offsetLeft;
                slider.scrollLeft = scrollLeft - (x - startX) * 1.5;
            };

            slider.addEventListener('mousedown', startDrag);
            slider.addEventListener('touchstart', startDrag);
            slider.addEventListener('mouseleave', stopDrag);
            slider.addEventListener('mouseup', stopDrag);
            slider.addEventListener('touchend', stopDrag);
            slider.addEventListener('mousemove', dragMove);
            slider.addEventListener('touchmove', dragMove);

            if (controls) {
                const prevButton = document.querySelector(`${selector}-prev`);
                const nextButton = document.querySelector(`${selector}-next`);
                const itemWidth = slider.firstElementChild?.clientWidth || 300;

                nextButton?.addEventListener('click', () => {
                    slider.scrollBy({ left: itemWidth, behavior: 'smooth' });
                });

                prevButton?.addEventListener('click', () => {
                    slider.scrollBy({ left: -itemWidth, behavior: 'smooth' });
                });
            }
        };

        initializeSlider('.ong-testimonials');
        initializeSlider('.carousel-wrapper', true);
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const carouselWrapper = document.querySelector('.carousel-wrapper') as HTMLElement;
        const carousel = document.querySelector('.carousel') as HTMLElement;
        const carouselItems = document.querySelectorAll('.carousel-item') as NodeListOf<HTMLElement>;
        const prevButton = document.querySelector('.carousel-prev') as HTMLElement;
        const nextButton = document.querySelector('.carousel-next') as HTMLElement;
        const swipeIndicator = document.querySelector('.swipe-indicator') as HTMLElement;

        if (!carouselWrapper || !carousel || !prevButton || !nextButton || carouselItems.length === 0) {
            console.error('Elementos del carrusel no encontrados.');
            return;
        }

        const itemWidth = carouselItems[0].offsetWidth + 20; // 20 es el margen derecho entre items

        nextButton.addEventListener('click', () => {
            carouselWrapper.scrollBy({
                left: itemWidth,
                behavior: 'smooth'
            });
        });

        prevButton.addEventListener('click', () => {
            carouselWrapper.scrollBy({
                left: -itemWidth,
                behavior: 'smooth'
            });
        });

        let isDown = false;
        let startX: number;
        let scrollLeft: number;

        const startDragging = (e: MouseEvent | TouchEvent) => {
            isDown = true;
            carouselWrapper.classList.add('active');
            startX = (e instanceof TouchEvent ? e.touches[0].pageX : e.pageX) - carouselWrapper.offsetLeft;
            scrollLeft = carouselWrapper.scrollLeft;

            if (swipeIndicator) {
                swipeIndicator.style.display = 'none';
            }
        };

        const stopDragging = () => {
            isDown = false;
            carouselWrapper.classList.remove('active');
        };

        const moveDragging = (e: MouseEvent | TouchEvent) => {
            if (!isDown) return;
            e.preventDefault();
            const x = (e instanceof TouchEvent ? e.touches[0].pageX : e.pageX) - carouselWrapper.offsetLeft;
            const walk = (x - startX) * 2; // Ajusta la velocidad de desplazamiento
            carouselWrapper.scrollLeft = scrollLeft - walk;
        };

        const isMobile = window.innerWidth <= 767;

        if (isMobile) {
            carouselWrapper.addEventListener('mousedown', startDragging);
            carouselWrapper.addEventListener('touchstart', startDragging);

            carouselWrapper.addEventListener('mouseleave', stopDragging);
            carouselWrapper.addEventListener('mouseup', stopDragging);
            carouselWrapper.addEventListener('touchend', stopDragging);

            carouselWrapper.addEventListener('mousemove', moveDragging);
            carouselWrapper.addEventListener('touchmove', moveDragging);
        }
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const ongSlider = document.querySelector('.ong-testimonials') as HTMLElement;
        const ongItems = document.querySelectorAll('.ong-item') as NodeListOf<HTMLElement>;
        const totalSlides = ongItems.length;
        const radios = document.querySelectorAll('input[name="ong-testimonial"]') as NodeListOf<HTMLInputElement>;
        let isDragging = false;
        let startX = 0;
        let currentIndex = Array.from(radios).findIndex((radio: HTMLInputElement) => radio.checked);
        const threshold = 50;

        const changeSlide = (direction: 'next' | 'prev') => {
            if (direction === 'next') {
                currentIndex = (currentIndex + 1) % totalSlides;
            } else if (direction === 'prev') {
                currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
            }
            radios[currentIndex].checked = true;
        };

        const onDragStart = (e: MouseEvent | TouchEvent) => {
            isDragging = true;
            startX = e.type.includes('touch')
                ? (e as TouchEvent).touches[0].clientX
                : (e as MouseEvent).clientX;
        };

        const onDragEnd = (e: MouseEvent | TouchEvent) => {
            if (!isDragging) return;
            isDragging = false;
            const endX = e.type.includes('touch')
                ? (e as TouchEvent).changedTouches[0].clientX
                : (e as MouseEvent).clientX;
            const deltaX = endX - startX;
            if (Math.abs(deltaX) > threshold) {
                if (deltaX < 0) {
                    changeSlide('next');
                } else {
                    changeSlide('prev');
                }
            }
        };

        ongSlider.addEventListener('mousedown', onDragStart);
        ongSlider.addEventListener('touchstart', onDragStart);

        ongSlider.addEventListener('mouseup', onDragEnd);
        ongSlider.addEventListener('touchend', onDragEnd);

        ongSlider.addEventListener('mouseleave', () => {
            isDragging = false;
        });

        const preventDefault = (e: MouseEvent | TouchEvent) => {
            if (isDragging) e.preventDefault();
        };

        ongSlider.addEventListener('mousemove', preventDefault);
        ongSlider.addEventListener('touchmove', preventDefault);

        radios.forEach((radio: HTMLInputElement, index) => {
            radio.addEventListener('change', () => {
                if (radio.checked) {
                    currentIndex = index;
                }
            });
        });
    });
</script>

<Layout title="CambiaZo">
    <Header />
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1 class="hero-title" data-i18n="hero.title">{translate('hero.title')}</h1>
                <p class="hero-description" data-i18n="hero.description">{translate('hero.description')}</p>
                <div class="play-store-button-container">
                    <a href="https://cambia-zo.netlify.app/home" target="_blank">
                        <button class="hero-button" data-i18n="hero.button">
                        {translate('hero.button')}
                        </button>
                    </a>
                </div>
            </div>
            <div class="hero-image">
                <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/hero/hero-img.png?raw=true" alt="CambiaZo App Image">
            </div>
        </section>

        <section id="features">
        <h2 style="margin-top:6.5rem; padding-left:13rem;">Sobre Nosotros</h2>
        <p class="p-1">Descubre quienes son los responsables de que CambiaZo sea una realidad.</p>
        <section id="about-us">
            <div class="slider">
        <div class="slide active-slide" id="slide-1">
        <!-- TABS -->
        <div class="tab-container">
            <div class="tab active" data-target="team-video">
        <div class="tab-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
        <g>
            <g>
            <path d="M57,44h-6h-6c-3.3,0-6,2.7-6,6v9c0,1.1,0.5,2.1,1.2,2.8c0.7,0.7,1.7,1.2,2.8,1.2v9c0,3.3,2.7,6,6,6h2h2
                c3.3,0,6-2.7,6-6v-9c1.1,0,2.1-0.4,2.8-1.2c0.7-0.7,1.2-1.7,1.2-2.8v-9C63,46.7,60.3,44,57,44z"/>
            </g>
            <g>
            <circle cx="51" cy="33" r="7"/>
            </g>
            <g>
            <path d="M36.6,66.7c-0.2-0.2-0.5-0.4-0.7-0.6c-1.9-2-3-4.5-3-7.1v-9c0-3.2,1.3-6.2,3.4-8.3c0.6-0.6,0.1-1.7-0.7-1.7
                c-1.7,0-3.6,0-3.6,0h-6c-3.3,0-6,2.7-6,6v9c0,1.1,0.5,2.1,1.2,2.8c0.7,0.7,1.7,1.2,2.8,1.2v9c0,3.3,2.7,6,6,6h2h2
                c0.9,0,1.7-0.2,2.4-0.5c0.4-0.2,0.6-0.5,0.6-0.9c0-1.2,0-4,0-5.1C37,67.2,36.9,66.9,36.6,66.7z"/>
            </g>
            <g>
            <circle cx="32" cy="29" r="7"/>
            </g>
            <g>
            <path d="M76,40h-6c0,0-1.9,0-3.6,0c-0.9,0-1.3,1-0.7,1.7c2.1,2.2,3.4,5.1,3.4,8.3v9c0,2.6-1,5.1-3,7.1
                c-0.2,0.2-0.4,0.4-0.7,0.6c-0.2,0.2-0.4,0.5-0.4,0.8c0,1.1,0,3.8,0,5.1c0,0.4,0.2,0.8,0.6,0.9c0.7,0.3,1.5,0.5,2.4,0.5h2h2
                c3.3,0,6-2.7,6-6v-9c1.1,0,2.1-0.4,2.8-1.2c0.7-0.7,1.2-1.7,1.2-2.8v-9C82,42.7,79.3,40,76,40z"/>
            </g>
            <g>
            <circle cx="70" cy="29" r="7"/>
            </g>
        </g>
        </svg>
        </div>

            <div class="tab-text">Video about<br>the team</div>
            </div>
            <div class="tab" data-target="product-video">
            <div class="tab-icon">
            <svg width="60" height="60" viewBox="0 0 512 512">
                <g transform="translate(42.666667 21.333333)">
                <path d="M213.333 85.333c70.693 0 128 57.308 128 128
                        0 47.378-25.74 88.744-64 110.876v81.124L256 426.667h-21.333
                        c0 11.782-9.551 21.333-21.334 21.333S192 438.449 192 426.667h-21.333
                        L149.333 405.333v-81.124C111.074 302.077 85.333 260.711 85.333 213.333
                        85.333 142.641 142.641 85.333 213.333 85.333Z"/>
                <path d="M234.668 339.563A170.8 170.8 0 0 1 192 341.333v42.667h42.667v-44.437Z"/>
                <path d="M96.425 307.614 119.052 330.242 73.798 375.496 51.17 352.869l45.255-45.255Z"/>
                <path d="M330.242 307.614 375.496 352.869 352.869 375.496 307.614 330.242l22.628-22.628Z"/>
                <path d="M426.667 197.333v32H362.667v-32h64Z"/>
                <path d="M64 197.333v32H0v-32h64Z"/>
                <path d="M352.869 51.17 375.496 73.798 330.242 119.052 307.614 96.425l45.255-45.255Z"/>
                <path d="M73.798 51.17 119.052 96.425 96.425 119.052 51.17 73.798l22.628-22.628Z"/>
                <path d="M229.333 0v64H197.333V0h32Z"/>
                </g>
            </svg>
            </div>

            <div class="tab-text">Video about <br>the product</div>
            </div>
        </div>

        <!-- CONTENIDOS -->
        <div class="tab-contents">
            <!-- SOBRE EL EQUIPO -->
            <div class="tab-content active" id="team-video">
            <div class="about-content">
                <div class="about-info">
                <h1 class="quienes-somos-h2">¿Quiénes Somos?</h1>
                <p>
                    En CambiaZo somos un equipo multidisciplinar apasionado por la innovación y la sostenibilidad.
                    Combinamos experiencia en Internet de las Cosas, metodologías ágiles y diseño centrado en el usuario
                    para ofrecer una plataforma de intercambio inteligente. Nuestra misión es conectar objetos físicos al
                    mundo digital, fomentando un consumo responsable y reduciendo el impacto ambiental.
                </p>
                </div>
                <div class="about-video">
                <iframe
                    width="100%"
                    height="450"
                    src="https://www.youtube.com/embed/bqYlbluvIF8"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                </div>
            </div>
            </div>

            <!-- SOBRE EL PRODUCTO -->
            <div class="tab-content" id="product-video">
            <div class="about-content">
                <div class="about-info">
                <h1 class="quienes-somos-h2">Sobre el Producto</h1>
                <p>
                    CambiaZo integra sensores IoT en cada artículo para monitorizar su estado y ubicación en tiempo real.
                    Nuestra plataforma web y móvil permite a los usuarios publicar, buscar y concretar intercambios de forma
                    segura y rápida. Con notificaciones automáticas y trazabilidad completa, reinventamos la manera de
                    compartir y reutilizar objetos, impulsando una economía circular sostenible.
                </p>
                </div>
                <div class="about-video">
                <iframe
                    width="100%"
                    height="450"
                    src="https://www.youtube.com/embed/2fL6Q_v7sGk"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                </div>
            </div>
            </div>
        </div>
        </div>

            <div class="slide" id="slide-2">
                <div class="about-cards">
                <a href="https://www.linkedin.com/in/ian-santisteban-palomino/" target="_blank" class="about-card">
                    <img src="/assets/images/about-us/IanSantisteban.png" alt="Ian">
                    <h3>Ian Santisteban</h3>
                    <p class="role">Scrum Master</p>
                    <p>Ian tiene una amplia experiencia en la gestión de equipos ágiles y optimización de procesos.</p>
                </a>
                <a href="https://www.linkedin.com/in/jeremyquispe/" target="_blank" class="about-card">
                    <img src="/assets/images/about-us/JeremyQuispe.jpeg" alt="Jeremy">
                    <h3>Jeremy Quispe</h3>
                    <p class="role">Product Owner</p>
                    <p>Jeremy se especializa en la planificación estratégica y la coordinación de proyectos tecnológicos.</p>
                </a>
                <a href="https://www.linkedin.com/in/mathias-mendoza-carri%C3%B3n-08369632b/" target="_blank" class="about-card">
                    <img src="/assets/images/about-us/MathiasMendoza.png" alt="Mathias">
                    <h3>Mathias Mendoza</h3>
                    <p class="role">Developer</p>
                    <p>Mathias es un desarrollador apasionado por crear soluciones innovadoras y eficientes.</p>
                </a>
                <a href="https://www.linkedin.com/in/joseph-huamani-mandujano/" target="_blank" class="about-card">
                    <img src="/assets/images/about-us/JosephHuamani.png" alt="Joseph">
                    <h3>Joseph Huamani</h3>
                    <p class="role">Developer</p>
                    <p>Joseph destaca por su habilidad en el desarrollo de aplicaciones escalables y robustas.</p>
                </a>
                <a href="https://www.linkedin.com/in/sandro-quispesivana/" target="_blank" class="about-card">
                    <img src="https://media.licdn.com/dms/image/v2/D4E35AQHOIhOJqoSm4g/profile-framedphoto-shrink_400_400/B4EZbwUjj.HMAg-/0/1747788642831?e=1752706800&v=beta&t=XlEVxDf5AWZwNv_Aug_nbSA8rV8WyUYhZnHe5w-PgVc" alt="Augusto">
                    <h3>Sandro Quispesivana</h3>
                    <p class="role">Developer</p>
                    <p>Sandro se especializa en la creación de soluciones eficientes y programación.</p>
                </a>
                </div>
            </div>
            <div class="slider-controls">
                <button class="slider-prev">&#10094;</button>
                <button class="slider-next">&#10095;</button>
            </div>
            </div>
        </section>

        <style>
        #about-us .slider {
            display: flex;
            flex-direction: column;  
            align-items: center;
            width: 100%;
        }

        #about-us .tab-container {
            display: flex;
            flex-direction: row;      
            justify-content: center;  
            align-items: center;      
            gap: 2rem;            
            margin-bottom: 1.5rem;    
        }

        #about-us .tab {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
        }
        #about-us .tab-icon {
            width: 80px;
            height: 80px;
            border: 2px solid #F5C32C;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #about-us .tab-icon img {
            width: 50%;
            height: 50%;
        }
        #about-us .tab-text {
            margin-top: 8px;
            font-size: 14px;
            text-align: center;
            color: #ffffff;
        }
        #about-us .tab.active .tab-icon {
            background-color: #F5C32C;
        }
        #about-us .tab.active .tab-text {
            color: #F5C32C;
        }

        #about-us .tab-contents {
            position: relative;
            padding-top: 4rem; 
            width: 100%;
        }
        #about-us .tab-content {
            display: none;
        }
        #about-us .tab-content.active {
            display: block;
        }

        #about-us .slider .slide {
            display: none;
            width: 100%;
        }
        #about-us .slider .slide.active-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #about-us .slider-controls {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 1700px;
            margin-top: 20px;
        }
        .tab svg{fill:#ffd146}
        .tab.active svg{fill:#191919}
        #about-us .slider-prev,
        #about-us .slider-next {
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #about-us .slider-prev:hover,
        #about-us .slider-next:hover {
            background-color: #000;
        }
        </style>


        <div class="separating-line"></div>
        
        <h2 id="cards" class="cards-title" style="margin-top: 5rem;">{translate('cards.title')}</h2>
        <p class="cards-subtitle">{translate('cards.subtitle')}</p>
        <div class="feature-cards" style="margin-bottom: 7rem">
            <div class="card blue-card">
                <div class="content">
                    <div class="title-icon">
                        <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/cards/icons/icon-exchange.png?raw=true" alt="Intercambio Icon" class="icon" />
                        <h3 data-i18n="cards.exchange.title">{translate('cards.exchange.title')}</h3>
                    </div>
                    <p data-i18n="cards.exchange.desc">{translate('cards.exchange.desc')}</p>
                </div>
                <div class="image-container group">
                    <div class="card-image" style="background-image: url('https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/cards/intercambio1.png?raw=true');"></div>
                    <div class="card-image" style="background-image: url('https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/cards/intercambio2.png?raw=true');"></div>
                    <div class="card-image" style="background-image: url('https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/cards/intercambio3.png?raw=true');"></div>
                    <div class="card-image fourth" style="background-image: url('https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/cards/intercambio4.png?raw=true'); height: 20rem"></div>
                </div>
            </div>
            <div class="card yellow-card">
                <div class="content">
                    <div class="title-icon">
                        <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/cards/icons/icon-donate.png?raw=true" alt="Donacion Icon" class="icon" />
                        <h3 data-i18n="cards.donation.title">{translate('cards.donation.title')}</h3>
                    </div>
                    <p data-i18n="cards.donation.desc">{translate('cards.donation.desc')}</p>
                </div>
                <div class="image-container group">
                    <div class="card-image" style="background-image: url('https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/cards/donaciones1.png?raw=true');"></div>
                    <div class="card-image" style="background-image: url('https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/cards/donaciones2.png?raw=true');"></div>
                    <div class="card-image" style="background-image: url('https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/cards/donaciones3.png?raw=true');"></div>
                    <div class="card-image fourth" style="background-image: url('https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/cards/donaciones4.png?raw=true'); height: 20rem"></div>
                </div>
            </div>
        </div>

        <section id="carrousel-images">
        <div class="carousel-content">
            <div class="carousel-header">
                <h2 data-i18n="carousel.title" style="color: #191919;">{translate('carousel.title')}</h2>
                <div class="carousel-controls">
                    <button class="carousel-prev">&#10094;</button>
                    <button class="carousel-next">&#10095;</button>
                </div>
            </div>
            <div class="carousel-container">
                <div class="carousel-wrapper">
                    <div class="carousel">
                        <div class="carousel-item">
                            <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/mosaic/antiguedades-img.png?raw=true" alt="Antigüedades" />
                        </div>
                        <div class="carousel-item">
                            <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/mosaic/tecnologia-img.png?raw=true" alt="Tecnología" />
                        </div>
                        <div class="carousel-item">
                            <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/mosaic/ropa-img.png?raw=true" alt="Ropa" />
                        </div>
                        <div class="carousel-item">
                            <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/mosaic/deporte-img.jpg?raw=true" alt="Deporte" />
                        </div>
                        <div class="carousel-item">
                            <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/mosaic/juguetes-img.jpg?raw=true" alt="Juguetes" />
                        </div>
                        <div class="carousel-item">
                            <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/mosaic/belleza-img.png?raw=true" alt="Belleza" />
                        </div>
                        <div class="carousel-item">
                            <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/mosaic/muebles-img.png?raw=true" alt="Muebles" />
                        </div>
                        <div class="carousel-item">
                            <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/mosaic/ocio-img.png?raw=true" alt="Ocio" />
                        </div>
                        <div class="carousel-item">
                            <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/mosaic/jardineria-img.png?raw=true" alt="Jardineria" />
                        </div>
                    </div>
                    <div class="swipe-indicator">
                        <p data-i18n="carousel.swipe">{translate('carousel.swipe')}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <section id="principal-items">
        <div class="main-content">
            <div class="text-section">
                <h1 data-i18n-html="principal.title">
                    {translate('principal.title')} <span class="highlight">{translate('principal.simplified')}</span>
                </h1>
                <p data-i18n="principal.desc">{translate('principal.desc')}</p>
            </div>
            <div class="icons-section">
                <div class="icon-item">
                    <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/icons/escudo-icon.png?raw=true" alt="Seguridad" class="icon" />
                    <h3 data-i18n="principal.security.title">{translate('principal.security.title')}</h3>
                    <p data-i18n="principal.security.desc">{translate('principal.security.desc')}</p>
                </div>
                <div class="icon-item">
                    <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/icons/exchange-icon.png?raw=true" alt="Artículos" class="icon" />
                    <h3 data-i18n="principal.items.title">{translate('principal.items.title')}</h3>
                    <p data-i18n="principal.items.desc">{translate('principal.items.desc')}</p>
                </div>
                <div class="icon-item">
                    <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/icons/comunidad-icon.png?raw=true" alt="Comunidad" class="icon" />
                    <h3 data-i18n="principal.community.title">{translate('principal.community.title')}</h3>
                    <p data-i18n="principal.community.desc">{translate('principal.community.desc')}</p>
                </div>
                <div class="icon-item">
                    <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/icons/sostenible-icon.png?raw=true" alt="Sostenible" class="icon" />
                    <h3 data-i18n="principal.sustainable.title">{translate('principal.sustainable.title')}</h3>
                    <p data-i18n="principal.sustainable.desc">{translate('principal.sustainable.desc')}</p>
                </div>
            </div>
        </div>
    </section>

        <section id="ONGs" class="ongs-section">
        <div class="separating-line"></div>
    
        <div class="container-ong">
            <h2 data-i18n="ongs.title">{translate('ongs.title')}</h2>
            <p data-i18n="ongs.desc">{translate('ongs.desc')}</p>
    
            <div class="ong-slider">
                <input type="radio" name="ong-testimonial" id="ong-1" />
                <input type="radio" name="ong-testimonial" id="ong-2" />
                <input type="radio" name="ong-testimonial" id="ong-3" checked />
                <input type="radio" name="ong-testimonial" id="ong-4" />
                <input type="radio" name="ong-testimonial" id="ong-5" />
    
                <div class="ong-testimonials mb-8">
                    <label class="ong-item" for="ong-1">
                        <div class="ong-card">
                            <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/ongs/asppa.png?raw=true" alt="ONG 1" class="ong-cardimg" />
                        </div>
                    </label>
                    <label class="ong-item" for="ong-2">
                        <div class="ong-card">
                            <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/ongs/care.png?raw=true" alt="ONG 2" class="ong-cardimg" />
                        </div>
                    </label>
                    <label class="ong-item" for="ong-3">
                        <div class="ong-card">
                            <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/ongs/ensenaperu.png?raw=true" alt="ONG 3" class="ong-cardimg" />
                        </div>
                    </label>
                    <label class="ong-item" for="ong-4">
                        <div class="ong-card">
                            <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/ongs/fundacion_calma.png?raw=true" alt="ONG 4" class="ong-cardimg" />
                        </div>
                    </label>
                    <label class="ong-item" for="ong-5">
                        <div class="ong-card">
                            <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/ongs/d1.png?raw=true" alt="ONG 5" class="ong-cardimg" />
                        </div>
                    </label>
                </div>
    
                <div class="ong-dots">
                    <label for="ong-1"></label>
                    <label for="ong-2"></label>
                    <label for="ong-3"></label>
                    <label for="ong-4"></label>
                    <label for="ong-5"></label>
                </div>
            </div>
        </div>
    </section>

    <section id="plans">
        <div class="plans-container">
            <h2 data-i18n="plans.title">{translate('plans.title')}</h2>
            <p data-i18n="plans.desc">{translate('plans.desc')}</p>
            <div class="plans">
                <div class="plan plan-lite">
                    <h3>{translate('plans.lite.name')}</h3>
                    <p class="price">{translate('plans.lite.price')}</p>
                    <p>{translate('plans.lite.desc')}</p>
                    <ul>
                        <li>{translate('plans.lite.features.0')}</li>
                        <li>{translate('plans.lite.features.1')}</li>
                    </ul>
                    <button class="plan-button">{translate('plans.lite.button')}</button>
                </div>
                <div class="plan plan-premium">
                    <h3>{translate('plans.premium.name')}</h3>
                    <p class="price">{translate('plans.premium.price')}</p>
                    <p>{translate('plans.premium.desc')}</p>
                    <ul>
                        <li>{translate('plans.premium.features.0')}</li>
                        <li>{translate('plans.premium.features.1')}</li>
                    </ul>
                    <button class="plan-button">{translate('plans.premium.button')}</button>
                </div>
                <div class="plan plan-plus">
                    <h3>{translate('plans.plus.name')}</h3>
                    <p class="price">{translate('plans.plus.price')}</p>
                    <p>{translate('plans.plus.desc')}</p>
                    <ul>
                        <li>{translate('plans.plus.features.0')}</li>
                        <li>{translate('plans.plus.features.1')}</li>
                    </ul>
                    <button class="plan-button">{translate('plans.plus.button')}</button>
                </div>
            </div>
        </div>
    </section>
    
    <div class="contact-wrapper">
        <section id="contact-us">
            <div class="contact-container">
                <div class="contact-content">
                    <div class="contact-text">
                        <h2 class="contact-title">{translate('contact.title')}</h2>
                        <p class="contact-description">{translate('contact.desc')}</p>
                        <form class="contact-form">
                            <div class="form-group">
                                <label for="nombre">{translate('contact.form.name')}</label>
                                <input type="text" id="nombre" name="nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="apellido">{translate('contact.form.lastname')}</label>
                                <input type="text" id="apellido" name="apellido" required>
                            </div>
                            <div class="form-group email">
                                <label for="email">{translate('contact.form.email')}</label>
                                <input type="email" id="email" name="email" required>
                            </div>
                            <button type="submit" class="contact-button">{translate('contact.form.button')}</button>
                        </form>
                        <p class="contact-privacy" set:html={translate('contact.privacy')}></p>
                    </div>
                    <div class="contact-image">
                        <img src="https://github.com/TechZo-1ASI0732-4453/Landing-Page/blob/main/public/assets/images/contact-us/contact-image.jpg?raw=true" alt="CambiaZo Suscripción">
                    </div>
                </div>
            </div>
            <div class="floating-elements">
                <div class="floating-circle"></div>
                <div class="floating-rectangle"></div>
                <div class="floating-triangle"></div>
            </div>
        </section>
    </div>
    </main>

    <Footer></Footer>

</Layout>

<style>

    body {
        margin: 0;
        padding: 0;
    }

    .separating-line {
        width: 45%;
        height: 4px;
        background-color: #ffd146;
        margin: 50px auto;
        margin-top: -2rem;
        border-radius: 5px;
        position: relative;
    }

    /*-----------------------------------------------------------------------------------------------------------*/
    /*-----------------------------------------------------------------------------------------------------------*/
    /* Hero Section */

    .hero {
        background-color: #ffd146;
        padding: 35px 20px;
        gap: 40px;
    }

    .hero-content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .hero-title {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .hero-description {
        font-size: 1.2rem;
    }

    .hero-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        background-color: black;
        color: white;
        font-weight: 550;
        font-size: 1.2rem;
        padding: 20px 30px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Consolas', monospace;
    }

    .play-store-button-container a {
    text-decoration: none;
    }

    .hero-button:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .play-store-icon {
        width: 30px;
        height: auto;
    }

    .hero-image img {
        width: 100%;
        height: auto;
        border-radius: 20px;
        margin-right: 20px;
        margin-bottom: 270px;
        margin-top: 200px;
        
    }

    @media (min-width: 768px) {
        .hero {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .hero-content {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .hero-title,
        .hero-description,
        .hero-button {
            font-family: 'Consolas', monospace;
            margin-left: 13rem;
            text-align: left;
        }

        .section-container {
            margin-left: 7.5rem;
            margin-right: 7.5rem;
        }
    }

    @media (max-width: 767px) {
        .hero {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .hero-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 20px;
            text-align: center;
        }

        .hero-title,
        .hero-description,
        .hero-button {
            margin-left: 0;
            text-align: center;
        }

        .hero-title {
            font-size: 1.2rem;
        }

        .hero-description {
            font-size: 1rem;
        }

        .hero-button {
            font-size: 1rem;
            padding: 15px 20px;
        }

        .hero-image img {
            width: 100%;
            height: auto;
            margin-top: -80px;
            position: relative;
            top: 70px;
        }
    }

    @media (max-width: 480px) {
        .hero-title {
            margin-top: 7rem;
        }

        .hero-button {
            font-size: 0.9rem;
            padding: 15px 30px;
        }
    }

    /*-----------------------------------------------------------------------------------------------------------*/
    /*-----------------------------------------------------------------------------------------------------------*/
    /* Features section */

    #features {
        position: relative;
        background-color: #18181b;
        color: white;
        padding: 30px;
        margin-top: 0;
        text-align: center;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        z-index: 1;
    }


    #features h2,
    #features .p-1 {
        text-align: left;
        line-height: 0.65;
    }

    #features h1{
        text-align: left;
        font-size: 2.2rem;
        color: #ffd146;

    }
    #features h2{
        font-size: 2.2rem;
    }

    #features .p-1 {
        text-align: left;
        padding-left: 13rem;
        color: #FFD146;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0 0 1.5rem 0;
        max-width: 900px;
    }

    /*----------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------ABOUT US----------------------------------------------*/

    #about-us {
        background-color: transparent;
        border-radius: 20px;
        padding: 4rem 6rem;
        max-width: 1500px;
        margin: 5rem auto;
        margin-top: 0.1rem;
        position: relative;
        overflow: hidden;
    }

    .slider {
        display: flex;
        flex-wrap: nowrap;
        transition: transform 0.5s ease-in-out;
    }

    .slide {
        min-width: 50%;
        display: none;
    }

    .active-slide {
        display: flex;
    }

    .about-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .about-info {
        flex: 1;
    }

    .about-info h2 {
        font-size: 2.5rem;
        color: #FFD146;
        margin-bottom: 1rem;
        text-align: left;
    }

    .about-info p {
        font-size: 1.2rem;
        color: #fff;
        line-height: 1.6;
        margin-bottom: 1rem;
        text-align: justify;
    }

    .about-video {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        overflow: hidden;
    }

    .about-cards {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .about-card {
        text-decoration: none;
        background-color: #000;
        color: #fff;
        border-radius: 15px;
        overflow: hidden;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        text-align: center;
        width: 100%; /
        max-width: 280px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .about-card:hover {
        transform: translateY(-10px);
    }

    .about-card img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .about-card h3 {
        font-size: 1.5rem;
        margin: 1rem 0 0.5rem;
    }

    .about-card p {
        font-size: 1rem;
        color: #e8e8e8;
        margin: 0.5rem 1rem 1.4rem;
    }

    .about-card .role {
        color: #ffd146;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .slider-controls {
        position: absolute;
        top: 50%;
        left: 0px;
        right: 0px;
        display: flex;
        justify-content: space-between;
        padding: 0;
        transform: translateY(-50%);
    }

    .slider-prev,
    .slider-next {
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .slider-prev:hover,
    .slider-next:hover {
        background-color: #000;
    }

    @media (max-width: 768px) {
        .about-content {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .about-info {
            padding-right: 0;
            padding-left: 0;
        }



        .about-cards {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1.5rem;
        }

        .about-card {
            max-width: 100%;
            margin: 1rem 0;
        }

        .slider-controls {
            left: -15px;
            right: -15px;
        }
    }

    .feature-cards {
        margin-left: 7.5rem;
        margin-right: 7.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 30px;
    }

    .card {
        position: relative;
        border-radius: 25px;
        color: black;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
    }

    .blue-card {
        background-color: #d0ebff;
    }

    .yellow-card {
        background-color: #ffd146;
    }

    .content {
        z-index: 2;
        position: relative;
        padding: 25px;
    }

    .title-icon {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    .content h3 {
        text-align: left;
        font-size: 33px;
        font-weight: 900;
        margin: 0;
    }

    .content p {
        text-align: left;
        margin-top: 10px;
        font-weight: 500;
        font-size: 1.1rem;
    }

    .image-container {
        position: relative;
        width: 250%;
        height: 16rem;
        display: flex;
    }

    .card-image {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 30px;
        transition: transform 0.5s ease, opacity 0.5s ease;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    @media (max-width: 768px) {
        .feature-cards {
            grid-template-columns: 1fr;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        #features h2,
        #features .p-1 {
            padding-left: 1rem;
            text-align: left;
            line-height: 1;

        }

        .content h3 {
            font-size: 1.45rem;

        }

        .content p {
            font-size: 0.96rem;
        }

        .card {
            margin-bottom: 20px;
        }

        .image-container {
            width: 100%;
            height: 200px;
        }
    }

    /*------------------------------------------------EFECTOS CARDS-------------------------------------------*/
    /*--------------------------------------------------------------------------------------------------------*/

    .group .card-image:nth-child(1) {
        transform: translateY(38px);
    }

    .group .card-image:nth-child(2) {
        transform: translateY(7px) translateX(-190px);
    }

    .group .card-image:nth-child(3) {
        transform: translateY(-20px) translateX(-320px); height: 20rem;
    }

    .group:hover .card-image:nth-child(1) {
        transform: translateX(-20%) scale(0.95);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .group:hover .card-image:nth-child(2) {
        transform: translateX(-100%) translateY(7px);
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .group:hover .card-image:nth-child(3) {
        transform: translateX(-155%) translateY(-20px);
        transition-delay: 0.05s;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .group:hover .card-image:nth-child(4) {
        transform: translateX(-198%) translateY(-40px);
        transition-delay: 0.1s;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }


    @media (min-width: 768px) {
        .feature-cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) {
        .feature-cards {
            grid-template-columns: 1fr;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .image-container {
            position: relative;
            width: 300%;
            height: 15rem;
            display: flex;
        }

        .card-image {
            height: 100%;
        }

        .group .card-image:nth-child(1) {
            transform: translateY(28px);
        }

        .group .card-image:nth-child(2) {
            transform: translateY(14px) translateX(-80px);
        }

        .group .card-image:nth-child(3) {
            transform: translateY(0px) translateX(-160px);
        }

        .group .card-image:nth-child(4) {
            transform: translateY(-14px) translateX(-240px);
        }

        .group:hover .card-image:nth-child(1),
        .group:hover .card-image:nth-child(2),
        .group:hover .card-image:nth-child(3),
        .group:hover .card-image:nth-child(4) {
            transition: transform 0.5s ease, opacity 0.5s ease;
        }

        .group:hover .card-image:nth-child(1) {
            transform: translateX(-20%) scale(0.95);
            opacity: 0;
        }

        .group:hover .card-image:nth-child(2) {
            transform: translateX(-100%) translateY(7px);
        }

        .group:hover .card-image:nth-child(3) {
            transform: translateX(-155%) translateY(-20px);
            transition-delay: 0.05s;
        }

        .group:hover .card-image:nth-child(4) {
            transform: translateX(-198%) translateY(-40px);
            transition-delay: 0.1s;
        }
    }
    /*----------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------*/


    #carrousel-images {
        padding: 2rem;
        background-color: #f5f5f5;
    }

    .carousel-content {
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    .carousel-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .carousel-header h2 {
        font-size: 2.5rem;
        margin: 0;
    }

    .carousel-controls {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .carousel-controls button {
        background-color: transparent;
        border: 2px solid #000;
        color: #000;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease;
        font-size: 1.2rem;
    }

    .carousel-controls button:hover {
        background-color: #000;
        color: #fff;
    }

    .carousel-controls button:focus {
        outline: none;
    }

    .carousel-container {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .carousel-wrapper {
        display: flex;
        position: relative;
        overflow-x: scroll;
        scroll-behavior: smooth;
    }

    .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .carousel-item {
        flex: 0 0 300px;
        margin-right: 20px;
        border-radius: 12px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        object-fit: cover;
    }

    .swipe-indicator {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 0.9rem;
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }


    @media (min-width: 768px) {
        .carousel-wrapper {
            overflow-x: hidden;
            overflow-y: hidden;
            pointer-events: none;
        }
    }

    @media (max-width: 767px) {
        .carousel-controls button {
            display: none;
        }

        .swipe-indicator {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .carousel-wrapper {
            overflow-y: hidden;
        }

    }

    @media (max-width: 1200px) {
        .carousel-item {
            min-width: 280px;
            height: 350px;
        }

        .carousel-controls button {
            width: 40px;
            height: 40px;
            font-size: 1.4rem;
        }

        .carousel-header h2 {
            font-size: 2rem;
        }
    }

    /*----------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------*/
    /*------------------------------------------PRINCIPAL ITEMS-------------------------------------------*/
    #principal-items {
        background-color: #1a1a1a;
        color: #fff;
        padding: 50px 0;
    }

    .main-content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .text-section {
        max-width: 600px;
    }

    .text-section h1 {
        font-size: 3.5rem;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .text-section .highlight {
        color: #ffd146;
    }

    .text-section p {
        font-size: 1.2rem;
        max-width: 28rem;
        line-height: 1.8;
        text-align: justify;
    }

    .icons-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 40px;
    }

    .icon-item {
        text-align: left;
    }

    .icon-item h3 {
        text-align: left;
        font-size: 1.5rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .icon-item .icon {
        object-fit: contain;
    }

    .icon-item p {
        text-align: left;
        font-size: 1rem;
        line-height: 1.5;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    @media (max-width: 768px) {
        .main-content {
            flex-direction: column;
            text-align: center;
        }

        .icons-section {
            grid-template-columns: 1fr 1fr;
        }

        .text-section h1 {
            text-align:	left;
            font-size: 2.5rem;
        }
    }

    /*------------------------------------ONGs-------------------------------------------*/
    /*-----------------------------------------------------------------------------------*/

    #ONGs {
        background-color: #1a1a1a;
        padding: 60px 0;
    }

    #ONGs .container-ong {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
    }

    #ONGs h2,
    #ONGs p {
        color: white;
        text-align: left;
        margin: 0 0 20px 0; /
    }

    #ONGs h2 {
        font-size: 3rem;
    }

    #ONGs p {
        font-size: 1.2rem;
        max-width: 800px;
    }

    .ong-slider {
        width: 100%;
        min-height: 385px;
        margin-top: 30px;
    }

    .ong-card {
        height: 100%;
        width: 100%;
        max-width: 24rem;
        display: flex;
        overflow: hidden;
        padding: 0;
        border-radius: 1.5rem;
        background-color: white;
    }

    .ong-cardimg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }

    .ong-slider input {
        display: none;
    }

    .ong-testimonials {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: 375px;
        perspective: 500px;
        margin-top: 5rem;
        overflow: hidden;
    }

    .ong-testimonials .ong-item {
        max-width: 20rem;
        border-radius: 1.5rem;
        border-width: 2px;
        top: 0;
        position: absolute;
        box-sizing: border-box;
        padding: 30px;
        width: 450px;
        text-align: center;
        transition: transform 0.4s;
        transform-style: preserve-3d;
        user-select: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ong-testimonials .ong-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.5rem;
    }


    .ong-dots {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ong-dots label {
        display: block;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #413b52;
        margin: 7px;
        transition: transform 0.2s, color 0.2s;
    }


    /* Animaciones y posicionamiento para cada slide */
    /* Primer slide */
    #ong-1:checked ~ .ong-dots label[for="ong-1"] {
        transform: scale(2);
        background-color: #fff;
    }
    #ong-1:checked ~ .ong-dots label[for="ong-2"] {
        transform: scale(1.5);
    }
    #ong-1:checked ~ .ong-testimonials label[for="ong-1"] {
        z-index: 4;
    }
    #ong-1:checked ~ .ong-testimonials label[for="ong-2"] {
        transform: translateX(300px) translateZ(-90px) translateY(-15px);
        z-index: 3;
    }
    #ong-1:checked ~ .ong-testimonials label[for="ong-3"] {
        transform: translateX(600px) translateZ(-180px) translateY(-30px);
        z-index: 2;
    }
    #ong-1:checked ~ .ong-testimonials label[for="ong-4"] {
        transform: translateX(900px) translateZ(-270px) translateY(-45px);
        z-index: 1;
    }
    #ong-1:checked ~ .ong-testimonials label[for="ong-5"] {
        transform: translateX(1200px) translateZ(-360px) translateY(-60px);
    }

    /* Segundo slide */
    #ong-2:checked ~ .ong-dots label[for="ong-1"] {
        transform: scale(1.5);
    }
    #ong-2:checked ~ .ong-dots label[for="ong-2"] {
        transform: scale(2);
        background-color: #fff;
    }
    #ong-2:checked ~ .ong-dots label[for="ong-3"] {
        transform: scale(1.5);
    }
    #ong-2:checked ~ .ong-testimonials label[for="ong-1"] {
        transform: translateX(-300px) translateZ(-90px) translateY(-15px);
    }
    #ong-2:checked ~ .ong-testimonials label[for="ong-2"] {
        z-index: 3;
    }
    #ong-2:checked ~ .ong-testimonials label[for="ong-3"] {
        transform: translateX(300px) translateZ(-90px) translateY(-15px);
        z-index: 2;
    }
    #ong-2:checked ~ .ong-testimonials label[for="ong-4"] {
        transform: translateX(600px) translateZ(-180px) translateY(-30px);
        z-index: 1;
    }
    #ong-2:checked ~ .ong-testimonials label[for="ong-5"] {
        transform: translateX(900px) translateZ(-270px) translateY(-45px);
    }

    /* Tercer slide */
    #ong-3:checked ~ .ong-dots label[for="ong-2"] {
        transform: scale(1.5);
    }
    #ong-3:checked ~ .ong-dots label[for="ong-3"] {
        transform: scale(2);
        background-color: #fff;
    }
    #ong-3:checked ~ .ong-dots label[for="ong-4"] {
        transform: scale(1.5);
    }
    #ong-3:checked ~ .ong-testimonials label[for="ong-1"] {
        transform: translateX(-600px) translateZ(-180px) translateY(-30px);
    }
    #ong-3:checked ~ .ong-testimonials label[for="ong-2"] {
        transform: translateX(-300px) translateZ(-90px) translateY(-15px);
    }
    #ong-3:checked ~ .ong-testimonials label[for="ong-3"] {
        z-index: 3;
    }
    #ong-3:checked ~ .ong-testimonials label[for="ong-4"] {
        transform: translateX(300px) translateZ(-90px) translateY(-15px);
        z-index: 2;
    }
    #ong-3:checked ~ .ong-testimonials label[for="ong-5"] {
        transform: translateX(600px) translateZ(-180px) translateY(-30px);
    }

    /* Cuarto slide */
    #ong-4:checked ~ .ong-dots label[for="ong-3"] {
        transform: scale(1.5);
    }
    #ong-4:checked ~ .ong-dots label[for="ong-4"] {
        transform: scale(2);
        background-color: #fff;
    }
    #ong-4:checked ~ .ong-dots label[for="ong-5"] {
        transform: scale(1.5);
    }
    #ong-4:checked ~ .ong-testimonials label[for="ong-1"] {
        transform: translateX(-900px) translateZ(-270px) translateY(-45px);
    }
    #ong-4:checked ~ .ong-testimonials label[for="ong-2"] {
        transform: translateX(-600px) translateZ(-180px) translateY(-30px);
    }
    #ong-4:checked ~ .ong-testimonials label[for="ong-3"] {
        transform: translateX(-300px) translateZ(-90px) translateY(-15px);
        z-index: 2;
    }
    #ong-4:checked ~ .ong-testimonials label[for="ong-4"] {
        z-index: 3;
    }
    #ong-4:checked ~ .ong-testimonials label[for="ong-5"] {
        transform: translateX(300px) translateZ(-90px) translateY(-15px);
    }

    /* Quinto slide */
    #ong-5:checked ~ .ong-dots label[for="ong-4"] {
        transform: scale(1.5);
    }
    #ong-5:checked ~ .ong-dots label[for="ong-5"] {
        transform: scale(2);
        background-color: #fff;
    }
    #ong-5:checked ~ .ong-testimonials label[for="ong-1"] {
        transform: translateX(-1200px) translateZ(-360px) translateY(-60px);
    }
    #ong-5:checked ~ .ong-testimonials label[for="ong-2"] {
        transform: translateX(-900px) translateZ(-270px) translateY(-45px);
        z-index: 1;
    }
    #ong-5:checked ~ .ong-testimonials label[for="ong-3"] {
        transform: translateX(-600px) translateZ(-180px) translateY(-30px);
        z-index: 2;
    }
    #ong-5:checked ~ .ong-testimonials label[for="ong-4"] {
        transform: translateX(-300px) translateZ(-90px) translateY(-15px);
        z-index: 3;
    }
    #ong-5:checked ~ .ong-testimonials label[for="ong-5"] {
        z-index: 4;
    }
    /*----------------------------------------------------------------------------------------------------*/
    /*---------------------------------------------PLANES-------------------------------------------------*/


    #plans {
        background-color: #fff;
        padding: 4rem 1rem;
        text-align: left;
    }

    .plans-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .plans-container h2 {
        text-align: left;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .plans-container p {
        text-align: left;
        font-size: 1.2rem;
        color: #333;
        max-width: 800px;
        margin: 0 0 2rem 0;
        line-height: 1.5;
    }

    .check-icon {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 8px;
    }

    .plans {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .plan {
        background-color: #fff;
        border-radius: 20px;
        padding: 2rem;
        width: 300px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        text-align: left;
    }

    .plan:hover {
        transform: translateY(-10px);
    }

    .plan h3 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }

    .plan .price {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .plan .price span {
        font-size: 1.2rem;
        vertical-align: super;
    }

    .plan p {
        font-size: 1rem;
        color: #333;
        margin-bottom: 1rem;
    }

    .plan ul {
        list-style: none;
        padding: 0;
        margin: 0 0 1.5rem 0;
    }

    .plan ul li {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
    }

    .plan ul li span {
        margin-right: 0.5rem;
    }

    .plan-lite {
        background-color: #fff;
        border: 2px solid #ffd146;
        color: #333;
    }

    .plan-premium {
        background-color: #ffd146;
        color: #333;
    }

    .plan-plus {
        background-color: #fff;
        border: 2px solid #ffd146;
        color: #333;
    }

    .plan-button {
        background-color: #000;
        color: #fff;
        padding: 0.8rem 4.7rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    .plan-button:hover {
        background-color: #333;
    }

    /*----------------------------------------------------------------------------------------------------*/
    /*---------------------------------------CONTACT US	----------------------------------------------*/

    #contact-us {
        position: relative;
        background-color: #ffd146;
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        overflow: hidden;
    }

    .contact-wrapper {
        background-color: #18181b;
    }

    .contact-container {
        max-width: 1200px;
        background-color: #fff;
        padding: 40px;
        border-radius: 30px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .contact-container:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    }

    .contact-container:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    }

    .contact-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        animation: fadeIn 1s ease-in-out;
    }

    .contact-text {
        max-width: 500px;
        transition: opacity 0.5s ease-in-out;
    }

    .contact-title {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
        letter-spacing: 1px;
        position: relative;
    }

    .contact-title::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 50px;
        height: 4px;
        background-color: #333;
    }

    .contact-description {
        font-size: 1.2rem;
        margin-bottom: 30px;
        color: #666;
        line-height: 1.6;
        transition: color 0.3s ease-in-out;
    }

    .contact-description:hover {
        color: #333;
    }

    .contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        opacity: 0;
        transform: translateY(20px);
        animation: slideUp 0.5s ease-in-out 0.3s forwards;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .form-group:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .form-group label {
        font-size: 1rem;
        margin-bottom: 5px;
        color: #333;
    }

    .form-group input {
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
        transition: border-color 0.3s ease-in-out;
    }

    .form-group input:focus {
        border-color: #333;
        outline: none;
    }

    .contact-button {
        grid-column: span 2;
        padding: 15px;
        background-color: #ffd146;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
        margin-top: 20px;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .contact-button:hover {
        background-color: #ecd000;
        transform: translateY(-5px);
    }

    .contact-privacy {
        font-size: 0.9rem;
        color: #666;
        margin-top: 20px;
        transition: color 0.3s ease-in-out;
    }

    .contact-privacy a {
        color: #333;
        text-decoration: none;
        border-bottom: 1px solid #333;
        transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    }

    .contact-privacy a:hover {
        color: #666;
        border-color: #666;
    }

    .contact-image {
        max-width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: slideInRight 0.5s ease-in-out;
    }

    .form-group.email input {
        width: 198%;
    }


    .contact-image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .contact-image img:hover {
        transform: scale(1.05);
    }


    @media (max-width: 768px) {
        .contact-container {
            padding: 50px;
            margin: 30px;
        }

        .contact-content {
            flex-direction: column;
            opacity: 0;
            transform: translateY(20px);
            animation: slideUp 0.5s ease-in-out 0.3s forwards;
            align-items: center;
            gap: 20px;
        }

        .contact-title {
            font-size: 1.8rem;
            text-align: center;
        }

        .contact-description {
            font-size: 0.9rem;
            text-align: center;
        }

        .contact-form {
            grid-template-columns: 1fr;
            gap: 10px;
            width: 100%;
        }

        .form-group {
            margin-bottom: 10px;
        }

        .form-group label {
            font-size: 0.85rem;
        }

        .form-group.email input {
            max-width: 91%;
        }

        .form-group input {
            padding: 8px;
            font-size: 0.9rem;
        }

        .contact-button {
            padding: 10px;
            font-size: 1rem;
            grid-column: span 1;
        }

        .contact-privacy {
            font-size: 0.75rem;
            text-align: center;
        }

        .contact-image {
            display: none;
        }
    }


    @keyframes slideUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes slideInRight {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .cards-title {
        text-align: left;
        padding-left: 13rem;
        color: #FFD146;
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    .cards-subtitle {
        text-align: left;
        padding-left: 13rem;
        color: #fff;
        font-size: 1.2rem;
        margin: 0 0 1.5rem 0;
        max-width: 900px;
    }
    @media (max-width: 768px) {
        .cards-title, .cards-subtitle {
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: left;
        }
    }

</style>
